{erl_opts, [debug_info]}.

{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.0.0-pre.3"}}},
  {ibrowse, {git, "https://github.com/cmullaparthi/ibrowse", {tag, "v4.3"}}},
  {uuid, {git, "https://github.com/travis/erlang-uuid", {branch, "master"}}},
  yamerl
]}.


{relx, [{release, {funl, "0.0.1"},
  [funl]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}]}.